<div class="flex items-center justify-center h-screen w-full">
  <div
    class="flex items-center justify-center p-8 space-x-8 bg-white rounded-[1rem]"
  >
    <input [value]="resultText" />
    <button (click)="openQrCodeScanner()">Barcode Scan</button>
    <button>Image Upload</button>

    <div class="w-[70rem] h-[35rem]" *ngIf="showBarcodeScan">
      <div class="flex flex-col space-y-8">
        <button (click)="closBarCodeScan()">Close Scanner</button>
        <ngx-scanner-qrcode
          #action="scanner"
          (event)="onEvent($event)"
        ></ngx-scanner-qrcode>
        <p *ngIf="action.isLoading">Loading....</p>
      </div>
    </div>
  </div>
</div>
