<div class="flex items-center justify-center h-screen w-full">
  <div
    class="flex items-center justify-center p-8 space-x-8 bg-white rounded-[1rem]"
  >
    <input [value]="resultText" />
    <button (click)="openQrCodeScanner()">Barcode Scan</button>
    <button>Image Upload</button>

    <div class="w-[70rem] h-[35rem]" *ngIf="showBarcodeScan">
      <div class="flex flex-col space-y-8">
        <button (click)="closBarCodeScan()">Close Scanner</button>
        <ngx-scanner-qrcode
          #action="scanner"
          (event)="onEvent($event)"
          facingMode="environment"
        ></ngx-scanner-qrcode>
        <p *ngIf="action.isLoading">Loading....</p>
      </div>
    </div>

    <div class="w-[70rem] h-[35rem]" *ngIf="showCam">
      <div class="flex items-center justify-center space-x-8 relative">
        <button (click)="closBarCodeScan()">Close Cam</button>
        <webcam
          [height]="500"
          [width]="500"
          [allowCameraSwitch]="true"
        ></webcam>
        <div
          class="absolute bottom-[10%] right-1/2 flex items-center justify-center"
        >
          <button>Take Picture</button>
        </div>
      </div>
    </div>
  </div>
</div>
